/* Custom overrides */

/* Reduce navbar height when scrolled */
@media(min-width:768px) {
    .navbar-default.navbar-shrink {
        padding: 0px 0; /* default is 10px, reduce to taste */
    }
}

/* Semi-transparent overlay on header background image */
header {
    position: relative;
    overflow: hidden;
}

/*This is to darken the image on the intro page*/
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* last value is opacity: 0.0 (clear) to 1.0 (solid black) */
    z-index: 0;
}

header .container {
    position: relative;
    z-index: 1; /* keeps text above the overlay */
}
